.CR-a, .CR-b, .CR-c, .CR-d, .CR-e, .CR-f, .CR-g, .CR-h, .CR-i{
	stroke: none;
}
.CR-a{
	fill: #1abc9c;
}
.CR-a.active{
	fill: #48c9b0;
}
.CR-b{
	fill: #f1c40f;
}
.CR-b.active{
	fill: #f5d313;
}
.CR-c{
	fill: #e74c3c;
}
.CR-c.active{
	fill: #ec7063;
}
.CR-d{
	fill: #2ecc71;
}
.CR-d.active{
	fill: #58d68d;
}
.CR-e{
	fill: #34495e;
}
.CR-e.active{
	fill: #415b76;
}
.CR-f{
	fill: #3498db;
}
.CR-f.active{
	fill: #5dade2;
}
.CR-g{
	fill: #9B59B6;
}
.CR-g.active{
	fill: #A56FBB;
}
.CR-h{
	fill: #E67E22;
}
.CR-h.active{
	fill: #E78A38;
}
.CR-i{
	fill: #7F8C8D;
}
.CR-i.active{
	fill: #95A5A6;
}
text{
	width: 15px;
	fill: white;
}
text:hover{
	cursor: pointer;
}
tspan:hover{
	cursor: pointer;
}